lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log

node_modules/

.idea/
*.iml

# figaro.json    we manually comment it out because it is used in test cases (in normal projects this should not be the case)

